body {
  font-family: 'Roboto', sans-serif;
}

#page {
    width: 650px;
    background-color: lightgray;
    margin: auto;
}

#header {
    text-align: center;
    margin: 20px;
}

canvas {
    border:3px solid black;
}